<div id="sidebar">
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ "/" | relative_url }}">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        <img height="80px" width="80px" margin-bottom:"1rem" src="https://unraveledmc.com/assets/brand/logo.svg"></img></a>
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">It's the place to be. An architecture and survival community for Minecraft developed for more than basic freedom.</p>
  </header>
  {% include sidebar-nav-links.html %}
  <p>Play with 1.8-1.16.1 using <a href="{{ site.baseurl }}/play">unraveledmc.com</a></p>

  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>
