<nav id="sidebar-icon-links">
    <a href="{{ site.baseurl }}/forum"> <i class="fas fa-mail-bulk fa-2x" style="padding-right: 0.5rem;"></i></a>
    
    <a href="{{ site.baseurl }}/discord"> <i class="fab fa-discord fa-2x" style="padding-right: 0.5rem;"></i></a>
    
    <a href="{{ site.baseurl }}/github"> <i class="fab fa-github fa-2x" style="padding-right: 0.5rem;"></i></a>
    
    <a href="{{ site.baseurl }}/instagram"> <i class="fab fa-instagram fa-2x" style="padding-right: 0.5rem;"></i></a>

  {% if search_page %}
    <a id="search-link"
       class="icon{% if page.url == '/search' %} active{% endif %}"
       title="Search" aria-label="Search"
       href="{{ search_page.url | relative_url }}">
      {% include svg/search.svg %}
    </a>
  {% endif %}

  {% include custom-icon-links.html %}
</nav>
